*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(id.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.id-container .iCard button{
    border: none;
    background-color: #92979e;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;

}
.id-container .iCard button:hover{
background-color: #2563eb;
}
.id-container{
    border: 5px solid #8b0000;
    background-color: #ff8800;
    border-radius: 8px;
    text-align: center;
    width: 25%;
    height: 65%;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1)
}
.id-container p{
    font-weight: bold;
    padding: 6px;
    margin: 6px;
}
.id-container p input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.id-container .role p input{
    padding: 6px;
    border: none;
    border-radius: 5px;
}
.id-container .id-details p{
    padding: 5px;
    margin: 5px;
}
.id-container .id-details p input{
    padding: 4px;
    margin: 4px;
    border: none;
    border-radius: 5px;
}

